# Node
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
